.bodyCardParent{
    display:flex;
    flex-direction: column;
    height: 92vh;
    padding: 0 10vw;
    margin: 0 0 12.5vh 0;
    justify-content:center;
    align-items: start;
}

.introParent{
    padding: 0 12vw;
}

.introText{
    display: flex;
    flex-direction: column;
    gap:1em;
}

.highlight{
    color: var(--specialTextColor);
    font-weight: normal;
}
.introText{
    display: flex;
    flex-direction: column;
}

.h1Intro{
    color: var(--textColor);
    font-size: clamp(1em, 4vw, 4em);
    letter-spacing: 0.02em;

}

.h2Intro{
    color: var(--textColor);
    margin: 0;
    font-size: clamp(1em, 3vw, 3em);
    font-weight: 300;
    letter-spacing: 0.01em;
}

.introDescription{
    font-size: clamp(1em, 2vw, 1.5em);
    font-weight: 10;
}

.learning{
    margin-top: 3vh;
    font-size: clamp(1em, 2vw, 1.5em);
    color: rgb(192, 191, 191);
}

.bottom{
    margin-bottom: 8vh;
}

.picIntro{
    display: flex;
    gap: 1em;
    margin-bottom: 5vh;
}

.picText{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.introPic{
    height: clamp(1em, 25vw, 15.625em);
    border-radius: 15px;
}

.filler{
    flex: 1 1 50%;
}



li{
    letter-spacing: 0.1em;
}

.skillSection{
    margin: 0;
    height: 50vh;
    display:flex;
    flex-direction: row;
}

.sectionTextHeader{
    color: var(--specialTextColor);
    width: 200px;
    text-align: right;
    margin-right: clamp(30px, 2.5vw, 70px);
    white-space: nowrap;
}

.sectionText{

}

.sectionContent{
    font-weight: 300;
    font-size: 1rem;
    width: 100%;

}

.projectSection{
    display:flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    height: 100%;
    padding: 12.5vh 15vw 12.5vh 10vw;
    background-color: var(--mainColorShade);
    
}

.projectContainer{
    display: flex;
    flex-direction: column;
    gap: 15vh;
}

.otherProjectSection{
    display:flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    height: 100%;
    padding: 12.5vh 10vw 25vh 10vw;
    margin: 0;
    background-color: var(--mainColorShade);
}

.otherProjectContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(150px, auto);
    gap: 1em 1em;
}

.project{
    display: flex;
    gap:1.5vw;
}

.projectText{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width:clamp(250px, 20vw, 500px);
}

.projectTitle{
    color: var(--textColor);
}
/*
.projectDescription{
    margin: 0 0 auto 0;
}
    */

.imgProjects{
    width: clamp(100px, 40vw, 800px);
    object-fit: contain;
    border-radius: 5px;
}


.techList{
    display:flex;
    gap: 16px;
    justify-content: start;
    flex-wrap: wrap;
}

.btn{
    border-radius: 20px;
    border-color: var(--specialTextColor);
    padding:1px 10px;
    outline: 2px solid var(--specialTextColor);
    color: var(--specialTextColor);
    display:flex;
    align-items: center;
    gap: 0.5em;
    font-size: 1em;
    background-color: var(--specialTextColor);
}

.buttonText{
    color: black;
}

.btn2{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 10px 10px 10px;
    padding:5px 15px;
    color: var(--mainColor);
    display:flex;
    align-items: center;
    gap: 0.5em;
}

.btnText{
    color: white;
}

.buttonContainer{
    display: flex;
    justify-content: end;
    gap: clamp(1px, 5vw, 5.1vw);
    align-self:flex-start;
    margin-top: auto;
}

.gridContainer{
    width:100%;
    margin: 0 auto;
}

.arrowLink{
  display:flex;
  align-items: center;
  gap: 1vw;
}

.arrowLink:hover .rightArrow{
    transform: translateX(1vw);
}

.rightArrow{
    width: 27px;
    transform: translateX(0vw);
    transition: transform 0.2s;
}




@media only screen and (max-width: 768px) {
    .h1Intro{
        color: white;
        margin-top: 0;
    }
 
    .project{
        display: flex;
        gap:2.5vh;
        flex-direction: column;
    }

    .projectSection{
        display:flex;
        flex-direction: column;
        justify-content: start;
        height: 100%;
        padding: 0 10vw;
    }

    .imgProjects{
        width:100%;   
    }

    .otherProjectSection{
        display:flex;
        flex-direction: column;
        justify-content: start;
        height: 100%;
        padding: 0 10vw;
    }

    .otherProjectContainer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(150px, auto);
        gap: 1em 1em;
    }

    .sectionTextHeader{
        color: #84a98c;
        width: 200px;
        text-align: left;
        margin-right: clamp(40px, 5vw, 70px);
        white-space: nowrap;
    }

}

@media only screen and (max-width: 1024px){
    .sectionTextHeader{
        width: 200px;
        text-align: left;
        margin-right: clamp(40px, 5vw, 70px);
        margin-bottom: 2.5em;
        white-space: nowrap;
    }

    .project{
        display: flex;
        gap:2.5vh;
        flex-direction: column;
    }

    .projectSection{
        display:flex;
        flex-direction: column;
        justify-content: start;
        height: 100%;
    }
    
    .projectImg{
        width:100%;   
    }
    .imgProjects{
        width:100%;   
    }
    .projectText{
        width:100%;
    }

    .hidden{
        display:none;
    }

    .otherProjectSection{
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px){
    .projectImg{
        width:100%;   
    }

    .picIntro{
        flex-direction: column-reverse;
    }
    
    .introPic{
        width: 80%;
        height: 80%;
    }
}