.headerParent{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 3vh 0px 3vh 0px;
    gap: 3vw;
    position: sticky;
    background-color: #354F52;
    top: 0px
}
