:root {
  font-family: Apercu, "Source Sans Pro", system, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  --mainColor: #2f3e46;
  --mainColorShade: #2C3A41;
  --headerColor: #171F23;
  --specialTextColor: #3a86ff;
  --textColor:white;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body{
  background-color: #2f3e46;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}
/*
* {
  outline: 1px solid #f00 !important;
}
  */

h1 {
  margin: 0;
  padding: 0;
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

p{
  margin: 0;
}


li{
  font-size: clamp(4px, 1em, 16px);
}

li:hover{
  color: #cad2c5;
}

.hidden{
  color: var(--mainColor);
  gap:0px;
}

@keyframes fadeIn{
  from{
    opacity: 0;
    transform: translateX(-10vw);
  }

  to{
    opacity: 1;
    transform: translateX(0vw);
  }
}




.shouldAnimate{
  animation: fadeIn linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
  animation-duration: 1ms;
} 

.shouldAnimateFaster{
  animation: fadeIn linear;
  animation-timeline: view();
  animation-range: entry 0% cover 10%;
  animation-duration: 1ms;
} 